
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ASP.NET Core 身份验证</title>
</head>
<body>
    ASP.NET Core 身份认证
</body>
</html>
