@page
@model My.RazorRoute.Study.Pages.IndexModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Razor Pages 路由</title>
</head>
<body>
    <h1>
        Razor页面路由
    </h1>
</body>
</html>
